@import url(http://fonts.googleapis.com/css?family=Lato:300italic);
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #BD8F5C;
}



#cake {
  display: block;
  position: relative;
  margin: -10em auto 0 auto;
}

/* ============================================== Candle
*/
.velas {
  background: #B32134;
  border-radius: 10px;
  position: absolute;
  top: 228px;
  left: 50%;
  margin-left: -2.5px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  -webkit-transform: translateY(-300px);
  -ms-transform: translateY(-300px);
  transform: translateY(-300px);
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: in 500ms 6s ease-out forwards;
  animation: in 500ms 6s ease-out forwards;
}

.velas:after,
.velas:before {
  background: #B32134;
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}

.velas:after {
  top: 25%;
  left: 0;
}

.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
*/
.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -3.5px;
  width: 6.66666667px;
  height: 18px;
}

.fuego:nth-child(1) {
  -webkit-animation: fuego 2s 6.5s infinite;
  animation: fuego 2s 6.5s infinite;
}

.fuego:nth-child(2) {
  -webkit-animation: fuego 1.5s 6.5s infinite;
  animation: fuego 1.5s 6.5s infinite;
}

.fuego:nth-child(3) {
  -webkit-animation: fuego 1s 6.5s infinite;
  animation: fuego 1s 6.5s infinite;
}

.fuego:nth-child(4) {
  -webkit-animation: fuego 0.5s 6.5s infinite;
  animation: fuego 0.5s 6.5s infinite;
}

.fuego:nth-child(5) {
  -webkit-animation: fuego 0.2s 6.5s infinite;
  animation: fuego 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire
*/
@-webkit-keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }

  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0);
  }
}
@keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }

  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0);
  }
}
@-webkit-keyframes in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.text {
  color: #FFFDD0;
  font-size:1.25em;
  font-family: 'Lato Bold', sans-serif;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}
.text h1 {
  font-size: 1.25em;
  font-family: 'Lato Bold', sans-serif;
}
.digit{
  font-family: 'Lato Bold', sans-serif;
  font-size:1.25em;
  color: #BD0F03;
}
@keyframes move {
  0% {
    transform: translate(0, 100vh);
  }
  100% {
    transform: translate(0vh, 0);
  }
}
.sunflwr {
  width: 70vmin;
  height: 70vmin;
  position: absolute;
  bottom: 0;
  left: 20%;
  transform: translate(-50%, 0%);
}
.sunflwr__leaf--left, .sunflwr__leaf--right {
  width: 0%;
  height: 20%;
  border-radius: 0% 50% 0% 50%;
  position: absolute;
  background: #6f8e4b;
  top: 70%;
  left: 45%;
  transform: translate(-100%, -50%) rotate(-20deg);
  animation: sunflwr__leaf forwards 1s 0.5s;
}
.sunflwr__leaf--right {
  top: 80%;
  left: 55%;
  transform: translate(0%, -50%) rotate(-70deg);
}
@keyframes sunflwr__leaf {
  0% {
    width: 0%;
    border: 0px solid black;
  }
  100% {
    width: 20%;
    border: 2px solid black;
  }
}
.sunflwr__stem {
  position: absolute;
  transform: translate(-50%, 0%);
  width: 5%;
  height: 60%;
  background: #556d39;
  left: 50%;
  bottom: 0%;
  border: 2px solid black;
  animation: sunflwr__stem forwards 1s;
}
@keyframes sunflwr__stem {
  0% {
    height: 0;
  }
  100% {
    height: 60%;
  }
}
.sunflwr__center {
  border-radius: 50%;
  background-color: #3c1f03;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: 2;
  animation: sunflwr__center 1s 1s forwards;
}
@keyframes sunflwr__center {
  0% {
    width: 0%;
    height: 0%;
  }
  100% {
    width: 25%;
    height: 25%;
  }
}
.sunflwr__pedal--1, .sunflwr__pedal--7, .sunflwr__pedal--12, .sunflwr__pedal--11, .sunflwr__pedal--10, .sunflwr__pedal--9, .sunflwr__pedal--8, .sunflwr__pedal--6, .sunflwr__pedal--5, .sunflwr__pedal--4, .sunflwr__pedal--3, .sunflwr__pedal--2 {
  border-radius: 50%;
  background: #f2fe00;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 40%;
  animation: grow-pedal-back 1s 1.5s forwards;
}
.sunflwr__pedal--2 {
  transform: translate(-50%, -50%) rotate(30deg);
}
.sunflwr__pedal--3 {
  transform: translate(-50%, -50%) rotate(60deg);
}
.sunflwr__pedal--4 {
  transform: translate(-50%, -50%) rotate(90deg);
}
.sunflwr__pedal--5 {
  transform: translate(-50%, -50%) rotate(120deg);
}
.sunflwr__pedal--6 {
  transform: translate(-50%, -50%) rotate(150deg);
}
@keyframes grow-pedal-back {
  0% {
    width: 0%;
    height: 0%;
    border: 0px solid black;
  }
  100% {
    width: 15%;
    height: 45%;
    border: 2px solid black;
  }
}
.sunflwr__pedal--7, .sunflwr__pedal--12, .sunflwr__pedal--11, .sunflwr__pedal--10, .sunflwr__pedal--9, .sunflwr__pedal--8 {
  border-radius: 20% 50% 20% 50%;
  transform: translate(-50%, -50%) rotate(15deg);
  animation: grow-pedal-front 1s 2s forwards;
}
.sunflwr__pedal--8 {
  transform: translate(-50%, -50%) rotate(45deg);
}
.sunflwr__pedal--9 {
  transform: translate(-50%, -50%) rotate(75deg);
}
.sunflwr__pedal--10 {
  transform: translate(-50%, -50%) rotate(105deg);
}
.sunflwr__pedal--11 {
  transform: translate(-50%, -50%) rotate(135deg);
}
.sunflwr__pedal--12 {
  transform: translate(-50%, -50%) rotate(165deg);
}
@keyframes grow-pedal-front {
  0% {
    height: 0%;
    width: 0%;
    border: 0px solid black;
  }
  100% {
    height: 35%;
    width: 10%;
    border: 2px solid black;
  }
};
